@model IEnumerable<DataLayer.Models.Products>

<table class="dataTable table table-bordered table-responsive products_table bg-white d-md-table" dir="rtl">
    <thead class=" text-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                گروه های این محصول
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PriceAfterDiscount)
            </th>

            <th>
                درصد تخفیف
            </th>

            <th>
                موجودی انبار
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>

            <th>
                بازدید
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr data-seller-id="@item.Id" id="product-@item.Id" class="product-item @((!item.IsActive)?"product-deactive":"")">
                    <td>
                        <img class="thumbnail" src="/Images/ProductImages/Thumb/@item.ImageName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.Product_Selected_Groups.Any())
                        {
                            <ol class="p-0">
                                @foreach (var group in item.Product_Selected_Groups)
                                {
                                    <li>
                                        @group.Product_Groups.GroupTitle
                                    </li>
                                }
                            </ol>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PriceAfterDiscount)
                    </td>

                    <td>
                        % @(
                    (item.Price - item.PriceAfterDiscount)*100/ item.Price
                )
                    </td>

                    <td>
                        @item.Stock
                    </td>

                    <td>
                        @item.CreateDate.ToString("dddd, dd MMMM yyyy")
                    </td>
                    <td>
                        @item.Visit
                    </td>
                    <td>
                        <a class="btn btn-default btn-xs p-2 m-1" href="@Url.Action("ProductFeaturs",new {id=item.Id})">ویژگی های محصول</a>
                        <a class="btn btn-info btn-xs p-2 m-1" href="@Url.Action("Gallery",new {id=item.Id})">گالری محصول</a>
                        <a class="btn btn-outline-info btn-xs p-2 m-1" href="@Url.Action("ProductBrand",new {id=item.Id})">برند محصول</a>
                        <a class="btn btn-warning btn-xs p-2 m-1" href="@Url.Action("Edit",new {id=item.Id})">ویرایش محصول</a>
                        @if (item.IsActive)
                        {
                            <a href="#" class="btn btn-outline-danger btn-xs p-2 m-1" onclick="deactiveProduct('@item.Id')">غیر فعال کردن محصول</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-outline-success btn-xs p-2 m-1" onclick="activateProduct('@item.Id')">فعال کردن محصول</a>
                        }
                        
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9"><div class="alert alert-warning m-1 text-center">هیچ محصولی یافت نشد!</div></td>
            </tr>
        }
    </tbody>

</table>