@model DataLayer.Models.ContactForm

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    var result = "";
    if (TempData["Message"] != null)
    {
        result = TempData["Result"].ToString();
        if (result == "ok")
        {
            result = "alert-success";
        }
        else if (result == "error")
        {
            result = "alert-danger";
        }
    }
    string title = ViewBag.PageTitle;
}

<div class="container p-2 contact">
    <h1 class="text-center mt-2"><span class="title">@title</span></h1>
    <div class="alert @result text-center">
        @TempData["Message"]
    </div>
    <div class="row">

        <div class="col-sm-6 p-2">
            <div class="card border p-4">
                @Html.Raw(ViewBag.Content)
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="card border">
                @using (Html.BeginForm(new { @action = "SendMessage" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal card p-2 m-2 border-0">
                        <h4 class="text-center">فرم تماس</h4>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "نام و نام خانوادگی" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "موضوع" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <textarea placeholder="متن پیام" class="form-control" name="Text" id="Text" required></textarea>
                                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                            </div>



                            <div class="form-group col-sm-6">
                                <div class="">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "موبایل" } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "ایمیل" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12 text-center">
                                <div class="g-recaptcha"
                                     data-sitekey="6LfwqHQaAAAAAC_HutdWgAFwHWU_wBlJ1JTtoVX1"
                                     data-callback='onSubmit'
                                     data-action='submit'>
                                    Submit
                                </div>
                                <span class="text-danger">@ViewBag.Message</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center ">
                                <input type="submit" value="ارسال" class="btn btn-success shpl" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .contact h1 {
            font-size: 2rem;
            border-bottom: 3px solid #ccc;
        }

        .contact h1, .contact .title {
            line-height: 1.65;
        }

        .contact .title {
            border-bottom: 3px solid #00b58c
        }

        .g-recaptcha > div {
            margin: auto
        }
        .card p{
            text-align: justify
        }
    </style>
}

@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>

}