@using Pezeshkafzar_v2.ViewModels
@model IEnumerable<ShowOrderViewModel>

    <a onclick="showCartInMobile()" class="dropdown-toggle @(Model.Any()?"cart-not-empty":"cart-empty")" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false" data-display="static">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            @if (Model.Any())
            {<span class="cart-count">@Model.Sum(p=>p.Count)</span>}
        </div>
        <p class="in-desktop">سبد خرید</p>
    </a>

    <div class="dropdown-menu dropdown-menu-right in-desktop">
        <div class="btn-close-wrapper">
            <a class="btn-close-shopcart" id="btn-close-shopcart" onclick="hideCartInMobile()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                </svg>
            </a>
        </div>
        @if (Model.Any())
        {
            <div class="dropdown-cart-products">
                @foreach (var item in Model)
                {
                    <div class="product">
                        <div class="product-cart-details">
                            <h4 class="product-title">
                                <a href="/ShowProduct/@item.ProductID/@item.SefUrl" class="shpl">@item.Title</a>
                            </h4>

                            <span class="cart-product-info">
                                <span class="cart-product-qty">@item.Count x </span>
                                @item.PriceAfterDiscount.ToString("#,0") تومان
                            </span>
                        </div><!-- End .product-cart-details -->

                        <figure class="product-image-container">
                            <a href="/ShowProduct/@item.ProductID/@item.SefUrl" class="product-image shpl">
                                <img src="/Images/ProductImages/Thumb/@item.ImageName" class="" alt="@item.Title" title="@item.Title">
                            </a>
                        </figure>
                        <a onclick="commandOrder(@item.ProductID,0)" class="btn-remove" title="حذف محصول">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                            </svg>
                        </a>
                    </div>
                }
                <!-- End .product -->

            </div>
        }<!-- End .cart-product -->

            <div class="dropdown-cart-total">
                <span>مجموع</span>

                <span class="cart-total-price">@Model.Sum(p => p.PriceAfterDiscount * p.Count).ToString("#,0") تومان</span>
            </div><!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
                <a href="/ShopCart" class="btn btn-outline-success shpl w-100">مشاهده سبد خرید</a>
                @*<a href="checkout.html" class="btn btn-outline-primary-2">
                    <span>پرداخت</span><i class="icon-long-arrow-left"></i>
                </a>*@
            </div><!-- End .dropdown-cart-total -->
        </div>
