@model DataLayer.Models.Slider

@{
    ViewBag.Title = "Edit";
}

<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">ویرایش اسلایدر شماره @Model.Id</h2>

    @using (Html.BeginForm("Edit", "Sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Slider</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ImageName)

            <div class="form-group">
                <label class="control-label">عنوان</label>
                <div class="">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">لینک</label>
                <div class="">
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">تصویر</label>
                <div class="">
                    <input type="file" name="imgUp" />
                    @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">تاریخ شروع</label>
                <div class="">
                    @Html.TextBoxFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">تاریخ پایان</label>
                <div class="">
                    @Html.TextBoxFor(model => model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">فعال؟</label>
                <div class="">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="ویرایش" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("بازگشت", "Index")
    </div>

</div>


@section Scripts{
    <link href="~/Areas/Admin/Content/css/kendo.common.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/js/plugins/kendo.all.min.js"></script>
    <script>
        $(document).ready(function () {

            // create DatePicker from input HTML element
            $("#EndDate").kendoDatePicker();
            $("#StartDate").kendoDatePicker();
        });
    </script>
}
