@model Pezeshkafzar_v2.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "فراموشی رمز عبور";
    ViewBag.description = "در این صفحه میتوانید درخواست فراموشی رمز عبور خود را ارسال کنید.";
}
<div class="login-page bg-image pt-5 pb-5"
     style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <h4 class="text-center">بازیابی کلمه عبور</h4>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class=" ">
                                <input type="submit" value="ارسال ایمیل" class="btn btn-info shpl" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>