@model Pezeshkafzar_v2.ViewModels.UserLoginWithMobileViewModel

@{
    ViewBag.Title = "ورود - پزشک افزار";
    ViewBag.Description = "صفحه مربوط به ورود به بخش کاربری و یا پنل ادمین - پزشک افزار";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="login-page bg-image pt-1 pb-1">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" aria-selected="true">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link shpl" href="/Register" id="registerBtn" aria-selected="false">ثبت نام</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                        <form action="/Login?ReturnUrl=@Context.Request.Query["ReturnUrl"]" method="post">
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @if (User.Identity.IsAuthenticated && !string.IsNullOrWhiteSpace(Context.Request.Query["ReturnUrl"]))
                                {
                                    <div class="alert alert-danger text-white text-center">
                                        <b>شما مجوز ورود به بخش درخواست شده را ندارید .</b>
                                    </div>
                                    <hr />
                                }
                                @if (Context.Request.Query["ref"] == "register" || Context.Request.Query["ref"] == "RegisterSeller" && TempData["SuccessRegister"] != null)
                                {
                                    <div class="alert alert-success text-white text-center">
                                        <b>@TempData["SuccessRegister"]</b>
                                    </div>
                                    <hr />
                                }

                                @* @if (!string.IsNullOrWhiteSpace(Context.Request.Query["ReturnUrl"]))
                                {
                                    <div class="alert alert-success">
                                        <p>کلمه عبور شما با موفقیت تغییر کرد .</p>
                                        <p>میتوانید لاگین کنید</p>
                                    </div>
                                    <hr />
                                } *@
                                @if (TempData["LoginError"] != null)
                                {
                                    <div class="alert alert-warning text-center" dir="rtl">
                                        @TempData["LoginError"]
                                    </div>
                                    <hr />
                                }

                                @if (TempData["NoVerifyError"] != null)
                                {
                                    <div class="alert alert-warning text-center" dir="rtl">
                                        @TempData["NoVerifyError"]
                                    </div>
                                    <div class="text-center mt-1">
                                        <a class="btn btn-outline-info" href="/Account/ResendRegisterVerificationCode?mobile=@Model.Mobile">تایید شماره موبایل</a>
                                    </div>
                                    <hr />
                                }

                                

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                                    @*<div class="col-md-10">*@
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", type = "tel", placeholder = "09*********", dir = "ltr", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    @*</div>*@
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                    @*<div class="col-md-10">*@
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @*</div>*@
                                </div>


                                <div class="form-footer">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary-2 spl">
                                            <span>ورود</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </div>

                                    <div class="custom-control custom-checkbox mr-sm-1">
                                        <input type="checkbox" class="custom-control-input" id="RememberMe">
                                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "custom-control-label" })
                                    </div><!-- End .custom-checkbox -->
                                </div>

                                <div class="form-group text-right">
                                    <a href="/login/otp" class="forgot-link shpl extrenal-links">ورود با رمز یک بار مصرف</a>
                                    <br />
                                    @*<a href="/ForgotPassword" class="forgot-link shpl extrenal-links">رمز عبور خود را فراموش کرده اید؟</a>
            <br />*@
                                    <a href="/Register" class="forgot-link shpl extrenal-links">حساب کاربری ندارید؟</a>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <a class="btn btn-outline-warning shpl" href="/">بازگشت صفحه اصلی</a>
                                </div>




                            </div>
                        </form>

                        @*<div class="form-choice">
                                <p class="text-center">یا ورود با </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            حساب کاربری گوگل
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-f">
                                            <i class="icon-facebook-f"></i>
                                            حساب کاربری فیسبوک
                                        </a>
                                    </div>
                                </div>
                            </div>*@<!-- End .form-choice -->
                    </div><!-- .End .tab-pane -->

                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            var searchUrl = location.search;
            if (searchUrl.toLowerCase().indexOf('returnurl') != -1) {
                var returnUrl = searchUrl.split('=')[1];
                var href = $('#registerBtn').attr('href');
                $('#registerBtn').attr('href', href + '?returnUrl=' + returnUrl);
            }
            hideOverlayer();
        })
    </script>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>

}
@section Styles{
    <style>
        .g-recaptcha > div {
            margin: auto
        }
        .extrenal-links {
            border: 1px dashed;
            padding: 5px;
            margin-bottom: 5px !important;
            display: inline-block;
        }
        .extrenal-links:hover {
            color: #fff;
            background-color: var(--green)
        }
    </style>
}