@model IEnumerable<DataLayer.Models.Product_Groups>

<table class="table table-bordered table-responsive d-md-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th class="subgroup-col">
            زیر گروه ها
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x=>x.ParentID==null))
    {
        <tr id="group_@(item.UniqueKey)">
            <td class="pg_group1">
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @if (Model.Count(x => x.ParentID == item.Id) > 0)
                {
                    <ul class="p-0">
                        @foreach (var subGroup in Model.Where(x => x.ParentID == item.Id))
                        {
                            <li id="group_@(subGroup.UniqueKey)" class="text-right subgroup-item">
                                <span class="pg_group2">@subGroup.GroupTitle</span>
                                
                                <div class="pull-left">
                                    <a class="text-info p-2"
                                       data-toggle="tooltip" data-placement="top" title="افزودن زیرگروه"
                                       href="#" onclick="Create(@subGroup.UniqueKey)">
                                        <i class="now-ui-icons ui-1_simple-add"></i>
                                    </a>
                                    <a class="text-warning p-2"
                                       data-toggle="tooltip" data-placement="left"
                                       title="ویرایش زیرگروه" href="#"
                                       onclick="Edit(@subGroup.UniqueKey)">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </a>
                                    <a class="text-danger p-2" onclick="Delete(@subGroup.UniqueKey)" data-toggle="tooltip" data-placement="left" title="حذف"
                                       href="#">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </a>
                                </div>
                                <div>
                                    <ul>
                                        @foreach (var subSubGroup in Model.Where(x => x.ParentID == subGroup.Id))
                                        {
                                            <li>
                                                <small class="pg_group3">@subSubGroup.GroupTitle</small>
                                                <div class="pull-left small">

                                                    <a class="text-warning p-2"
                                                       data-toggle="tooltip" data-placement="left"
                                                       title="ویرایش زیرگروه" href="#"
                                                       onclick="Edit(@subSubGroup.UniqueKey)">
                                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                                    </a>
                                                    <a class="text-danger p-2" onclick="Delete(@subSubGroup.UniqueKey)" data-toggle="tooltip" data-placement="left" title="حذف"
                                                       href="#">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <hr />
                            </li>

                        }
                    </ul>
                }
            </td>
            <td>
                <a class="btn btn-outline-info btn-xs mb-1"
                   data-toggle="tooltip" data-placement="top" title="افزودن زیرگروه"
                   href="#" onclick="Create(@item.UniqueKey)">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                </a>
                <a class="btn btn-outline-warning btn-xs mb-1"
                   data-toggle="tooltip" data-placement="top" title="ویرایش سرگروه"
                   href="#" onclick="Edit(@item.UniqueKey)">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                </a>
                <a class="btn btn-outline-danger btn-xs mb-1"
                   data-toggle="tooltip" data-placement="top" title="حذف"
                   href="#" onclick="Delete(@item.UniqueKey)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </a>
            </td>
        </tr>
    }

</table>


