@model IEnumerable<DataLayer.Models.Product_Groups>
@{
    ViewBag.Title = "VisitCountCategories";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
}


<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">
    <h2 class="text-center p-2 border shadow ">آمار بازدید از دسته بندی های مختلف محصولات </h2>
    <div class="alert alert-info text-center">مجموع بازدید از محصولات: <strong id="totalVisit"></strong></div>
    <ul>
        @foreach (var group in Model.Where(g => g.ParentID == null))
        {
            <li class="menu-level-1-li @(Model.Any(g => g.ParentID == group.Id)?"has-child":"")">
                <a id="level_1_group_visit_@group.Id" onclick="mostViewedProduct(@group.Id)"><strong style="color: #007bff">@group.GroupTitle</strong></a>
                <span class="badge badge-primary parent-group">@group.Product_Selected_Groups.Where(g => g.Id == group.Id).Select(psg => psg.Products).Sum(p => p.Visit)</span>
                @if (Model.Any(g => g.ParentID == group.Id))
                {
                    <div class="sub-mega-menu">
                        <ul class="child-category-menu menu-level-2">
                            @foreach (var subGroup in Model.Where(g => g.ParentID == group.Id))
                            {
                                <li class="menu-level-2-li @(Model.Any(ss => ss.ParentID == subGroup.Id)?"has-child":"")">
                                    <a id="level__group_visit_@subGroup.Id" style="color:#ffc107" onclick="mostViewedProduct(@subGroup.Id)">@subGroup.GroupTitle</a>
                                    <span class="badge badge-warning">@subGroup.Product_Selected_Groups.Where(g => g.Id == subGroup.Id).Select(psg => psg.Products).Sum(p => p.Visit)</span>
                                    @if (Model.Any(ss => ss.ParentID == subGroup.Id))
                                    {
                                        <div class="sub-mega-menu">
                                            <ul class=" menu-level-3">
                                                @foreach (var subSubGroup in Model.Where(ss => ss.ParentID == subGroup.Id))
                                                {
                                                    <li class="menu-level-3-li">
                                                        <a id="level__group_visit_@subSubGroup.Id" style="" onclick="mostViewedProduct(@subSubGroup.Id)">@subSubGroup.GroupTitle</a>
                                                        <span class="badge badge-secondary">@subSubGroup.Product_Selected_Groups.Where(g => g.Id == subSubGroup.Id).Select(psg => psg.Products).Sum(p => p.Visit)</span>

                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
        }
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            var parents = $('.parent-group')
            var total = 0;
            for (var i = 0; i < parents.length; i++) {
                total += +(parents.eq(i).html())
            }
            $('#totalVisit').html(total)
        })
        mostViewedProduct = (id) => {
            $('#AllModal').modal('show').find('.modal-body').html(loader)
            $.get('/admin/Product_Groups/ShowMostViewedProduct/' + id, (res) => {
                $('.modal-body').html(res)
            })
        }
    </script>
} 