@model DataLayer.Models.Comments

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
}

<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">افزودن محصول جدید</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <a class="btn btn-info m-2 text-white" onclick="CommentFor(1)" id="cm_for_pro">کامنت محصول</a>
    <a class="btn btn-outline-info m-2 text-info" onclick="CommentFor(2)" id="cm_for_blo">کامنت بلاگ</a>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="form-group" id="productSelector">
        @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none" id="blogSelector">
        @Html.LabelFor(model => model.BlogID, "BlogID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BlogID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BlogID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ParentID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsShow, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsShow)
                @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@{
    int type = 1;
    if (Model.ProductID == null && Model.BlogID != null)
    {
        type = 2;
    }
}
@section Scripts{
    <script>
        $(document).ready(() => {
            CommentFor(@type)
        })
        function CommentFor(id) {
            if (id === 1) {
                $('#BlogID').val('')
                $('#productSelector').show();
                $('#blogSelector').hide();
                $('#cm_for_pro').addClass('btn-info text-white').removeClass('btn-outline-info text-info')
                $('#cm_for_blo').removeClass('btn-info text-white').addClass('btn-outline-info text-info')
            }
            if (id === 2) {
                $('#ProductID').val('')
                $('#cm_for_pro').removeClass('btn-info text-white').addClass('btn-outline-info text-info')
                $('#cm_for_blo').addClass('btn-info text-white').removeClass('btn-outline-info text-info')
                $('#productSelector').hide();
                $('#blogSelector').show();
            }
        }
    </script>
}